@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Coral+Pixels&family=Flavors&family=Henny+Penny&family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Coral+Pixels&family=Flavors&family=Henny+Penny&family=Rubik+Glitch&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee+Shade&family=Coral+Pixels&family=Flavors&family=Henny+Penny&family=Rubik+Glitch&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Coral+Pixels&family=Henny+Penny&family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Black+Ops+One&family=Bungee+Shade&family=Coral+Pixels&family=Flavors&family=Henny+Penny&family=Metamorphous&family=Rubik+Glitch&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Black+Ops+One&family=Bungee+Shade&family=Coral+Pixels&family=Flavors&family=Henny+Penny&family=Rubik+Glitch&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Black+Ops+One&family=Bungee+Shade&family=Coral+Pixels&family=Flavors&family=Henny+Penny&family=Keania+One&family=Metamorphous&family=Oi&family=Rubik+Glitch&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Black+Ops+One&family=Bungee+Shade&family=Coral+Pixels&family=Flavors&family=Henny+Penny&family=Keania+One&family=Metamorphous&family=Oi&family=Passero+One&family=Rubik+Glitch&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Black+Ops+One&family=Bruno+Ace+SC&family=Bungee+Shade&family=Coral+Pixels&family=Flavors&family=Henny+Penny&family=Keania+One&family=Metamorphous&family=Oi&family=Passero+One&family=Rubik+Glitch&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&family=Macondo&display=swap");

nav {
  background: linear-gradient(#0a0f2c, #020412);
  margin: 0;
  border-bottom: 10px #6495ed solid;
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 200%;
  gap: 100px;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #8fa9ff;
}

nav a:hover {
  color: #4da3ff;
  font-weight: bold;
}

nav p {
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  border-bottom: 2px solid #c9d6ff;
  font-size: 400%;
  margin: 0;
}

body {
  margin: 0;
}

#Home-IMG {
  background-image: url("Home%20Main%20page.jpg");
  background-size: cover;
  margin: 50px 200px;
  height: 500px;
}

#Home-Background {
  background: linear-gradient(135deg, #02030a, #0b0f1f);
}

#Hero-Section {
  text-transform: uppercase;
  color: #a6b0d6;
  font-size: 160%;
  text-align: center;
  font-family: "Bruno Ace SC";
  margin-left: 50px;
  margin-right: 50px;
}

#Introduction-Section {
  text-transform: uppercase;
  color: #a6b0d6;
  font-size: 160%;
  text-align: center;
  font-family: "Bruno Ace SC";
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 70px;
  margin-right: 100px;
  border-bottom: 2px solid white;
}

#Main-Title {
  margin-bottom: 50px;
}

#Featured-Sections-Preview {
  color: #a6b0d6;
  font-size: 100%;
  text-align: left;
  margin: 50px 300px;
  font-family: "Keania One";
  border-bottom: 2px solid white;
  margin-bottom: 70px;
}

#Featured-Sections-Preview p {
  font-size: 150%;
}

#Why-This-Website {
  color: #a6b0d6;
  font-size: 150%;
  margin: 20px 300px;
  text-align: left;
  font-family: "Finger Paint";
  border-bottom: 2px solid white;
}

#Quote-Section {
  color: #a6b0d6;
  font-size: 180%;
  text-align: center;
  font-family: "Macondo";
  border: 5px double white;
  margin: 70px 300px;
  border-radius: 20px;
  height: 140px;
  width: 650px;
  box-shadow: 1px 1px 7px azure;
  font-weight: bold;
}

.Background-Solar-System {
  background: linear-gradient(135deg, #02030a, #0b0f1f);
}

.Solar-System-Main-Picture {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("Solar%20System%20Main%20Image.webp");
  background-size: cover;
  height: 951px;
}

.Solar-System-Main-Picture h1 {
  margin: 0;
  padding-left: 130px;
  padding-top: 80px;
  text-align: left;
  color: white;
  font-size: 500%;
}

.Solar-System-Main-Picture h2 {
  margin: 0;
  padding-left: 130px;
  text-align: left;
  color: white;
  font-size: 500%;
  font-weight: bold;
}

.Title {
  font-family: "Tourney";
  margin: 0;
  padding-left: 170px;
  padding-top: 50px;
  text-align: left;
  color: lawngreen;
  font-size: 200%;
  display: flex;
  gap: 60px;
}

.S-Head {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 80px;
  font-family: "Keania One";
}

.S-P1 {
  color: #a6b0d6;
  font-size: 300%;
  text-align: center;
}

.S-P2 {
  color: #a6b0d6;
  font-size: 200%;
  text-align: center;
}

.S-P3 {
  color: #a6b0d6;
  font-size: 200%;
  text-align: center;
}

.S-P4 {
  color: #a6b0d6;
  font-size: 200%;
  text-align: center;
}

.S-P5 {
  color: #a6b0d6;
  font-size: 200%;
  text-align: center;
}

.Planets {
  font-family: "Black Ops One";
  color: LightSteelBlue;
  background-color: black;
  width: 300px;
  height: 330px;
  border-radius: 10px;
  text-align: center;
  border: double 10px indigo;
  box-shadow: 10px 10px 35px rgba(128, 0, 255, 0.4);
}

.Planets p {
  font-family: "Rubik Glitch";
  padding-left: 7px;
  padding-right: 7px;
}

.Planets1 {
  display: flex;
  gap: 300px;
  margin: 75px auto;
  justify-content: center;
}

.Planets2 {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

.Planet-images {
  border-radius: 10px;
  width: 95%;
  height: 45%;
}
.Main-Image-Tools {
  background-image: linear-gradient(to bottom, rgba(2, 4, 18, 1) 0%, rgba(0, 0, 255, 0) 25%),
    linear-gradient(135deg, rgb(0, 0, 0, 0.7), rgb(255, 255, 255, 0.2)), url("Tools%20Main%20Image%203.avif");
  background-size: cover;
  background-position: center bottom;
  height: 800px;
  margin: 0;
}

.Main-Image-Tools h1 {
  margin: 0;
  color: white;
  font-size: 300%;
  padding-left: 50px;
  padding-top: 50px;
}

.Main-Image-Tools h2 {
  margin: 0;
  padding-left: 50px;
  font-size: 500%;
  color: white;
}

.Telescopes {
  margin: 100px auto;
  display: flex;
  border: 10px double black;
  gap: 20px;
  width: 850px;
  height: 270px;
  justify-content: center;
  background-color: white;
  border-radius: 40px;
}

.Tel-P {
  text-align: left;
  width: 500px;
  height: 250px;
  overflow-y: scroll;
  font-size: 150%;
  color: black;
  margin: 5px;
  background: linear-gradient(90deg, #ffffff, #a8c0ff);
}

.T-Head {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 80px;
  font-family: "Keania One";
}

.T-P1 {
  color: #a6b0d6;
  font-size: 300%;
  text-align: center;
}

.T-P2 {
  color: #a6b0d6;
  font-size: 200%;
  text-align: center;
}

.T-P3 {
  color: #a6b0d6;
  font-size: 200%;
  text-align: center;
}

.T-P4 {
  color: #a6b0d6;
  font-size: 200%;
  text-align: center;
}

.Tel-P h1 {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 175%;
  font-family: "Agu Display";
  border-bottom: 5px dashed black;
}

.Tel-P P {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 100%;
  font-family: "Metamorphous";
}

.Tel-Img {
  height: 260px;
  width: 280px;
  border-radius: 20px;
  padding: 10px;
}

.Tool-background-Img {
  background: linear-gradient(#000000, #434343);
  margin: 0;
  padding: 50px;
  height: 500px;
  overflow-y: scroll;
}

.Messier-Objects-Background {
  background: linear-gradient(135deg, #020412, #0b0f2a);
}

.M-Head {
  padding-left: 150px;
  padding-right: 150px;
  font-family: "Passero One";
}

.M-P1 {
  color: #7f8bb3;
  font-size: 300%;
  text-align: center;
}

.M-P2 {
  color: #7f8bb3;
  font-size: 200%;
  text-align: center;
}

.M-P3 {
  color: #7f8bb3;
  font-size: 200%;
  text-align: center;
}

.M-P4 {
  color: #7f8bb3;
  font-size: 200%;
  text-align: center;
}

.M-P5 {
  color: #7f8bb3;
  font-size: 200%;
  text-align: center;
}

.M-divs {
  width: 980px;
  margin: 150px auto;
  background: linear-gradient(135deg, #01030a, #05081a);
  border-radius: 20px;
  border: 4px solid white;
  box-shadow: 5px 5px 30px #b8c2e6;
}

.h1-M {
  padding-top: 7px;
  text-align: center;
  font-size: 200%;
  border-bottom: dashed 5px #f2f5ff;
  color: #cbd5ff;
}

.Img-M {
  display: flex;
  gap: 15px;
  padding: 20px;
}

.Image-M {
  height: 300px;
  width: 300px;
  margin: 20px auto;
  border-radius: 100%;
}

.Ul-M ul {
  font-size: 150%;
  color: #cbd5ff;
  padding-bottom: 20px;
}

.Youtube-V {
  display: block;
  margin: 150px auto;
}
